body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  padding: 4rem;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}